* {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    overflow-x: hidden;
    background-color: lightslategray;
  }
  
  h1 {
    margin: 0;
    text-align: center;
    color: black;
  }
  
  a {
    text-decoration: none;
    font-size: 20px;
  }
  
  .contenedor-blog {
    margin: auto;
    display: table;
    background-color: tomato;
  }
  
  h1 {
    position: relative;
    float: left;
    background: white;
    color: black;
    font-size: 2.5em;
    font-family: monospace;
  }
  
  h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background: white;
    border-left: 2px solid #000;
    -webkit-animation: escribir 10s steps(35);
            animation: escribir 10s steps(35);
  }
  
  @-webkit-keyframes escribir {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  
  @keyframes escribir {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  .contenedor {
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    height: auto;
  }
  
  .navegacion {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
  
  @media (min-width: 768px) {
    .barra {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .nav {
      display: flex;
      gap: 40px;
    }
  
    header {
      height: 80px;
    }
  }
  /* contenido principal */
  h2 {
    text-align: center;
  }
  
  /*Creamos el bucle para usar los valores del mapa*/
  .btn--red1 {
    border: 2px solid #333;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px pink;
  }
  
  .btn--red2 {
    border: 2px solid #333;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px red;
  }
  
  .btn--red3 {
    border: 2px solid #333;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px orange;
  }
  
  .btn--key1 {
    border: 2px solid #333;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px value1;
  }
  
  .tabla__1 {
    font-family: "Comforter", cursive;
  }
  
  .tabla__2 {
    font-family: "Gwendolyn", cursive;
  }
  
  .tabla__3 {
    font-family: "Smooch", cursive;
  }
  
  section {
    padding: 20px 0;
  }
  
  .div {
    padding-top: 15px;
  }
  
  @media (min-width: 768px) {
    .contenido {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  .img {
    padding-top: 10px;
    overflow: hidden;
    border-radius: 30px;
  }
  
  main {
    text-align: center;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }
  
  h3 {
    font-size: 25px;
  }
  
  @media (min-width: 768px) {
    iframe {
      width: 500px;
      height: 350px;
    }
  
    footer {
      background-color: black;
      color: white;
      font-size: 20px;
      height: 30px;
    }
  }
  footer {
    background-color: black;
    color: white;
    font-size: 20px;
    height: auto;
  }
  
  .formulario {
    background-color: gray;
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
  }
  
  .formulario fieldset {
    border: none;
  }
  
  .formulario legend {
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .contenedor-campos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      -moz-column-gap: 1rem;
           column-gap: 1rem;
      grid-template-rows: auto auto 20rem;
    }
  
    .campo:nth-child(3) {
      grid-column: 1/3;
    }
  
    .campo:nth-child(4) {
      grid-column: 1/2;
    }
  
    .campo:nth-child(5) {
      grid-column: 2/3;
    }
  
    .campo:nth-child(6) {
      grid-column: 1/3;
    }
  }
  .campo {
    margin-bottom: 1rem;
  }
  
  .campo label {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .campo textarea {
    height: 20rem;
  }
  
  .input-text {
    width: 100%;
    height: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .w-sm-100 {
      width: auto;
    }
  }
  .flex {
    display: flex;
  }
  
  .alinear-derecha {
    justify-content: flex-end;
  }
  
  .img:hover {
    transform: scale(1.3);
  }
  
  .fotos {
    height: auto;
    width: 80%;
    display: grid;
    gap: 20px;
    padding: 20px;
    display: grid;
    margin: 0 auto;
  }
  
  .img1 {
    background-image: url(img/blogdecafe.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .img2 {
    background-image: url(img/blogdecafe2.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .img3 {
    background-image: url(img/blogdecafe3.jpg);
    background-position: center;
    background-size: cover;
  }
  
  .img4 {
    background-size: cover;
    background-image: url(img/blogcafe4.jpg);
    background-position: center;
  }
  
  .img5 {
    background-image: url(img/blogcafe5.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .img6 {
    background-image: url(img/blogcafe6.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .img7 {
    background-image: url(img/blogcafe7.jpg);
    background-size: cover;
    background-position: center;
  }

  .img8 {
    background-image: url(img/IMG-20210728-WA0002.jpg);
    background-size: cover;
    background-position: center;
  }

  .img9 {
    background-image: url(img/IMG-20210728-WA0004.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .img11 {
    background-image: url(img/img9.jpg);
    background-size: cover;
    background-position: center;
  }

  .img12 {
    background-image: url(img/img8.jpg);
    background-size: cover;
    background-position: center;
  }
  @media only screen and (min-width: 767px) {
    .img1 {
      grid-column: 1/2;
      grid-row: 2/4;
      background-color: chocolate;
      height: 600px;
    }
  
    .img2 {
      grid-column: 2/3;
      grid-row: 2/3;
      background-color: cornflowerblue;
    }
  
    .img3 {
      grid-column: 2/3;
      grid-row: 3/4;
      background-color: darkred;
    }
  
    .img4 {
      grid-column: 1/2;
      grid-row: 4/5;
      background-color: crimson;
    }
  
    .img5 {
      grid-column: 1/2;
      grid-row: 5/6;
      background-color: deeppink;
    }
  
    .img6 {
      grid-column: 2/3;
      grid-row: 4/6;
      background-color: darkblue;
      height: 600px;
    }
  
    .img7 {
      grid-column: 1/3;
      grid-row: 8/10;
      background-color: darkgoldenrod;
      height: 600px;
    }

    .img8 {
      grid-column: 2/3;
      grid-row: 6/8;
      background-color: darkgoldenrod;
      height: 550px;
    }

    .img9 {
      grid-column: 1/2;
      grid-row: 6/8;
      background-color: darkgoldenrod;
      height: 550px;
    }

    .img11 {
      grid-column: 1/2;
      grid-row: 1/2;
      height: 400px;
    }

    .img12 {
      grid-column: 2/3;
      grid-row: 1/2;
      height: 400px;
    }

  }